* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 100%);
  /* font-family: ; */
}
.container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  justify-content: space-between;
  min-height: 100vh;
}
.all {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.title {
  font-size: 2rem;
  text-align: center;
  color: hsl(234, 12%, 34%);
}

.para {
    padding-top: 32px;
  text-align: center;
  color: hsl(212, 6%, 44%);
}
.card1 {
  border-top: 2px solid hsl(180, 62%, 55%);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 6px 6px 0 hsl(0, 0%, 89%);
}
.card2 {
 border-top: 2px solid hsl(0, 78%, 62%);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 6px 6px 0 hsl(0, 0%, 89%);
}
.card3 {
 border-top: 2px solid hsl(34, 97%, 64%);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 6px 6px 0 hsl(0, 0%, 89%);
}

.card4 {
  border-top: 2px solid hsl(212, 86%, 64%);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 6px 6px 0 hsl(0, 0%, 89%);
}
.card4 img {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 74%;
}

.card2 img {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 74%;
}
.card1 img {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 74%;
}

.head {
  font-weight: 900;
  padding: 8%;
  padding-bottom: 2%;
}
.header{
    margin-top: 4%;
}
.detail {
  font-weight: 500;
  width: 80%;
  padding-left: 8%;
  font-size: small;
  color: gray;
}
.twocards {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
    color: hsl(234, 12%, 34%);
    
}
footer a{
    color: hsl(234, 12%, 34%);
    text-decoration: none;
}
@media (max-width: 700px){
.all{
    width: 90%;
    margin: auto;
    flex-direction: column;

}
.card1, .card2, .card3, .card4{
    width: 100%;
}
.twocards{
    width: 100%;
}
}
